.Navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0px;

    li {
        margin-right: 10px;
        a {
            font-size: 20px;
            text-decoration: none;
            color: cornflowerblue;

            &.active {
                color: crimson;
            }
        }
    }
}